/* Estilos para pantallas con ancho máximo de 880px */
@media (max-width: 880px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        display: flex;
        position: absolute;
        top: 0;
        margin-top: 70px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: end;
    }

    .menu a {
        color: #d9d9d9;
        font-weight: 400;
        transition: color 400ms;
        margin-right: 5%;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 700ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        height: 2.5em;
        padding: 0.5em;
        border-bottom: 1.5px solid #621A4E;
        transition: height 500ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #252525;
    }

    .menu>li:last-child {
        border-radius: 0px 0px 15px 15px;
    }

    .menu a:hover {
        color: #FFC327;
        transition: 400ms;
    }

    .logInA a {
        color: #82df78;
        font-weight: 600;
        transition: color 400ms;
    }

    .registerA a {
        color: #FFC327;
        font-weight: 600;
        transition: color 400ms;
    }

    .hero-main {
        background-image: url(./img/jpg/background-hero-mobile.jpg);
    }
}

/* Estilos para pantallas con ancho mínimo de 768px */
@media (min-width: 768px) {
    .menu a,
    .menu li {
        transition: color 400ms, scale 400ms;
    }

    .menu li:hover,
    .menu a:hover {
        color: #FFC327;
        scale: 1.1;
        transition: 400ms;
    }

    .logInA a {
        color: #82df78;
        font-weight: 600;
        transition: color 400ms;
    }

    .logInA a:hover {
        color: #FFFFFF;
        transition: 400ms;
    }

    .registerA a {
        color: #FFC327;
        font-weight: 600;
        transition: color 400ms;
    }

    .registerA a:hover {
        color: #FFFFFF;
        transition: 400ms;
    }

    /* Estilos para la sección de hero */
    .hero-main {
        padding: 4rem;
        background-position: center;
    }

    .hero-main-title {
        max-width: 100%;
        padding: 6rem;
        border-radius: 150px;
    }

    .hero-main-title h2 {
        font-size: 4rem;
    }

    .hero-main-title span {
        font-size: 4rem;
    }

    .hero-description {
        font-size: 2rem;
        padding: 5rem;
        gap: 3rem;
        cursor: default;
    }

    /* Estilos para la sección de tienda */
    .store-title h3 {
        font-size: 6.5rem;
    }

    .store-title p {
        font-size: 2.5rem;
    }

    .storeCategory {
        font-size: 2rem;
    }
}

/* Estilos adicionales para pantallas con ancho mínimo de 800px */
@media (min-width: 800px) {
    .storeItems {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .storeBox {
        max-width: 20%;
    }

    .storeCart {
        font-size: 1rem;
    }

    .storeCart button {
        max-width: 2rem;
        padding: 2%;
    }

    .noStock {
        padding: 3%;
        margin: 2%;
    }

    .footer {
        text-align: start;
        margin: unset;
        align-items: center;
        text-align: center;
    }

    .footer hr {
        max-width: 100%;
    }
}
